[Unit]
Description=Python game server

After=network.target

[Service]
ExecStart=/usr/bin/python3 -u /home/gameserver/python-game-server/server/game_server.py
Restart=always

StandardOutput=append:/var/log/gameserver.log
StandardError=inherit

User=gameserver
Group=gameserver

ProtectSystem=strict
ProtectHome=tmpfs
PrivateTmp=yes
PrivateDevices=yes
TemporaryFileSystem=/srv:ro
TemporaryFileSystem=/var:ro
TemporaryFileSystem=/opt:ro
TemporaryFileSystem=/mnt:ro
TemporaryFileSystem=/boot:ro
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM
CapabilityBoundingSet=
NoNewPrivileges=yes
MemoryDenyWriteExecute=true

BindReadOnlyPaths=/home/gameserver/python-game-server/server

[Install]
WantedBy=multi-user.target
